.header {
  top: 1px;
  left: 1px;
  right: 1px;
  width: 100%;
  height: 100px;
  position: absolute;
  border: 1px solid navy;
}
.header_caption {
  font-family: 'Bree Serif', serif;
  padding-left: 10px;
  color: #161616;
}
.header_nav {
  position: absolute;
  right: 0px;
  margin-left: 20px;
  top: 32px;
}
.nav_caption {
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #161616;
  padding-right: 10px;
  font-size: 24px;
}
.logo_animation {
  height: 50px;
  width: 50px;
  top: 20px;
  margin-left: 272px;
  position: absolute;
  background-image: url("svg/logo-2.svg");
  background-repeat: no-repeat;
  animation-name: animation-bg-image;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
@keyframes animation-bg-image {
  0% {
    background-image: url("svg/logo-1.svg");
    transform: translate(0, 0);
  }
  20% {
    background-image: url("svg/logo-2.svg");
    transform: translate(0, 0);
  }
  50% {
    background-image: url("svg/logo-1.svg");
    transform: translate(0, 0);
  }
  60% {
    background-image: url("svg/logo-2.svg");
    transform: translate(0, 0);
  }
  70% {
    background-image: url("svg/logo-1.svg");
    transform: translate(0, 0);
  }
  80% {
    background-image: url("svg/logo-2.svg");
    transform: translate(0, 0);
  }
  100% {
    background-image: url("svg/logo-2.svg");
    transform: translate(0, 0);
  }
}
